.desc{
    min-height: 70px;
}
.cardInfo{
    margin:16px 0;
    text-align: center;
    
    min-height: 90px;
}
.ellipsis{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}