   
.commonStyle {
    display:flex;
    align-items: center;
    justify-content: space-between;
    line-height: 36px;
}
.settlement_title{
    display: flex;
}
.selectShopImg{
   
    box-shadow: 0px 0px 2px #1890ff;
    border-radius: 8px;
}
.shopInfo{
    .commonStyle();
    font-weight: 600;
    font-size:16px;
}
.discountInfo{
    .commonStyle();
    
}
.settleInfo{
    .commonStyle();
    align-items: flex-end;
}
.totalCost {}
.totalMoney {
    font-size: 18px;
    font-weight: 600;
    color:#1890ff
}